<mat-toolbar id="toolbarColor" color="primary" class="mat-elevation-z3">
    <button routerLink="/admin/" routerLinkActive="active" id="btnVoltar" mat-raised-button>←</button>
</mat-toolbar>

<div class="animated fadeIn">
    <div id="containerForm" class="mat-elevation-z6">
        <form class="formulario">
            <img [src]="imgURL" id="experimentoPreview" height="150">
            <mat-form-field>
                <input matInput placeholder="Nome Experimento">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Select">
                    <mat-option *ngFor="let i of andares" value="i.value">{{i.viewValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle>Ativo</mat-slide-toggle>
            <button mat-raised-button id="btnForm" (click)="imagePreview.click()">Selecionar Foto</button>
            <mat-slide-toggle [ngModelOptions]="{standalone: true}" [(ngModel)]="showDiv" style="margin-top:7%">
                Principal</mat-slide-toggle>
            <button id="btnIconForm" [style.display]="showDiv ? 'block' : 'none'" class="animated fadeIn"
                (click)="iconPreview.click()" mat-raised-button style="margin-left:1em;">Selecionar Icone</button>
        </form>
    </div>

    <div class="containerPrincipal" [style.display]="showDiv ? 'block' : 'none'" class="animated fadeIn">
        <img [src]="iconURL" height="100">
    </div>
</div>

<!-- <div id="createform" class="mat-elevation-z3">
        <mat-form-field id="inputs">
            <input matInput placeholder="Nome" value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Localização</mat-label>
            <mat-select>
                <mat-option *ngFor="let i of andares" [value]="i.value">
                    {{i.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field id="inputs">
            <input matInput placeholder="Categoria" value="">
        </mat-form-field><br>
        <div id="buttonsAllign">
            
            
        </div>
        
        <mat-checkbox id="checkPrincipal" color="primary">Experimento Principal</mat-checkbox>
        
        
        <button style="width: 13em;" mat-raised-button id="btnCreate" color="primary">Criar</button>
    </div> -->
<input id="previewImagem" #imagePreview type="file" accept='image/*' (change)="previewImagem(imagePreview.files)"
    hidden />
<input id="previewIcon" #iconPreview type="file" accept='image/*' (change)="previewIcon(iconPreview.files)" hidden />