// Cores PUCRS (esquerda para direita)
//     cor 1: #00293F
//     cor 2: #015289
//     cor 3: #16C2F4
$puc1: #00293F;
$puc2: #015289;
$puc3: #16C2F4;

// Cores Complementares: 
$complementar1: #FBA649;
$complementar2: #23BCB7;
$complementar3: #D8114C;
// Variações tonais: 
$cor1: #FFCDA1;
$cor1: #C56F1C;
$cor2: #A2DAD9;
$cor2: #1E7C7F;
$cor3: #E59490;
$cor3: #990331;

.formulario {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 1.6em;
    padding: 1em 1em 1em 1em
}

#btnForm{
    margin-top: 2em;

}

#btnIconForm{
 position: relative;
 float: left;
 margin-top: 2em;
 margin-left: 0em!important;
}
#containerForm{
    width: 55%;
    height: 500px!important;
    margin-left: calc(50% - 27.5%);
    margin-top: 5%;
}

#toolbarColor{
    background-color: $puc1!important;
}

#btnVoltar{
    font-size: 1.5em;
    background-color: $complementar1!important;
}

#fullWidth {
    width: 100%;
}

#radioAndar{
   margin-left: calc(50% - 228px);
   margin-top: 3%!important;
}

#inputs{
    width: 20em;
    margin-left: 5%;
    margin-top: 3%;
}

#buttonsAllign{
    width: 100%;
    margin-left: calc(50% - 140px);
}

#checkPrincipal{
    margin-left: calc(50% - 90px);
}

#btnCreate{
    width: 15%;
    position: relative;
    margin-top: 0%;
    margin-left: 60%;
    background-color: $puc1;
}

#previewImage{
    position: absolute;
    z-index: 9999;
    left: 50%;
}

#footerBar{
    background-color: $puc1!important;
}

#gridImage{
    margin-top: -30%;
    margin-left: 60%;
    width: 30%;
}

#experimentoPreview{
    margin-left: 30%;
    margin-top: 5%;
    z-index: 10;
    position: absolute
}