<mat-toolbar id="toolbarColor" color="primary" class="mat-elevation-z3"></mat-toolbar>

<div class="animated fadeIn">
  <section>
    <form class="formProcura">
      <mat-form-field id="inputs">
        <input matInput placeholder="Buscar Categoria/Experimento" value="" (keyup)="filtrar($event.target.value)">
      </mat-form-field>
    </form>

    <div id="buttonsAddRemove">
      <button class="mat-elevation-z8" routerLink="/admin/criar" routerLinkActive="active" mat-raised-button
        color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <br>
      <button mat-raised-button color="warn" (click)="removeItem(x)"><i class="fa fa-trash" aria-hidden="true"
          style="font-size: 1.2em;"></i>
      </button>
    </div>

    <table id="tabela" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let x">
          <mat-checkbox (click)="isChecked(x)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome do experimento</th>
        <td mat-cell *matCellDef="let x">
          {{x.titulo}}
        </td>
      </ng-container>


      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria de Experimento</th>
        <td mat-cell *matCellDef="let x"> {{x.categoria}}</td>
      </ng-container>

      <ng-container matColumnDef="principal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Principal
        </th>
        <td mat-cell *matCellDef="let x">
          <mat-checkbox disabled [(ngModel)]="x.principal"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ativo
        </th>
        <td mat-cell *matCellDef="let x">
          <mat-checkbox disabled [(ngModel)]="x.ativo"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar
        </th>
        <td mat-cell *matCellDef="let x">
          <button class="btnEdit" mat-button color="primary">&#9998;</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>


  <div id="buttonsAddRemove">
    <button class="mat-elevation-z8" routerLink="/admin/criar" routerLinkActive="active" mat-raised-button
      color="primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button mat-raised-button color="warn" (click)="openDialog()"><i class="fa fa-trash" aria-hidden="true" style="font-size: 1.2em;"></i>
    </button>
  </div>
</section>

