// Cores PUCRS (esquerda para direita)
//     cor 1: #00293F
//     cor 2: #015289
//     cor 3: #16C2F4
$puc1: #00293F;
$puc2: #015289;
$puc3: #16C2F4;

// Cores Complementares:
$complementar1: #FBA649;
$complementar2: #23BCB7;
$complementar3: #D8114C;
// Variações tonais:
$cor1: #FFCDA1;
$cor1: #C56F1C;
$cor2: #A2DAD9;
$cor2: #1E7C7F;
$cor3: #E59490;
$cor3: #990331;


.formProcura{
    margin-left: calc(50% - 25%);
    margin-top: 7%;
}

#inputs{
    width: 300px;
    margin-top: -20%;
}

#tabela{
    width: 50vw!important;
    margin-left: calc(50% - 25vw);
    margin-top: calc(50% - 54%);
}
@media (max-width: 600px){
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap
    }
    #tabela{
        width: 50vw!important;
        margin-left:0;
        overflow: scroll;
    }

    .formProcura{
        margin-left: 0;
        margin-top: 10%;
    }
    #buttonsAddRemove{
        margin-left: 100em;
    
    }
}
.btnEdit{
    font-size: 1.5em;
}

#toolbarColor{
    background-color: $puc1!important;
    width: 100%;

}

#buttonsAddRemove{
    margin-left: 20%;
    margin-top: 1%;
    z-index: 999;
    position: relative;

}
