<h2 mat-dialog-title>Tem certeza que deseja apagar os itens selecionados?</h2>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Deletar</button>
</mat-dialog-actions>
