// Cores PUCRS (esquerda para direita)
//     cor 1: #00293F
//     cor 2: #015289
//     cor 3: #16C2F4
$puc1: #00293F;
$puc2: #015289;
$puc3: #16C2F4;

// Cores Complementares: 
$complementar1: #FBA649;
$complementar2: #23BCB7;
$complementar3: #D8114C;
// Variações tonais: 
$cor1: #FFCDA1;
$cor1: #C56F1C;
$cor2: #A2DAD9;
$cor2: #1E7C7F;
$cor3: #E59490;
$cor3: #990331;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    
}